/* Code tidied up by ScrapBook */
@font-face {
  font-family: "bwg";
  font-style: normal;
  font-weight: normal;
  src: url("bwg.eot") format("embedded-opentype"), url("bwg.ttf") format("truetype"), url("bwg.woff") format("woff"), url("bwg.svg") format("svg");
}
div[id^="bwg_container"] img { box-shadow: none ! important; }
div[id^="bwg_container"] * { margin: 0px; }
div.bwg_container[id^="bwg_container"] .bwg-a { border: medium none; box-shadow: none ! important; outline: 0px none; font-size: 0px; line-height: normal; cursor: pointer; text-decoration: none; }
@media print {
}
.bwg_spider_popup_loading, .footer-list-block .bwp_gallery .bwg_spider_popup_loading, .footer-list-block .bwp_gallery_tags .bwg_spider_popup_loading { background-image: url("ajax_loader.png"); background-color: transparent; background-repeat: no-repeat; background-position: 0px 0px; background-size: 30px 30px; border: medium none ! important; display: none; height: 30px; left: 50%; margin-left: -20px; margin-top: -20px; overflow: hidden; position: fixed; top: 50%; width: 30px; z-index: 10102; }
.footer-list-block .bwp_gallery .spider_popup_overlay, .footer-list-block .bwp_gallery_tags .spider_popup_overlay, .spider_popup_overlay { cursor: pointer; display: none; height: 100%; left: 0px; position: fixed; top: 0px; width: 100%; z-index: 10100; }
@media screen and (max-width: 465px) {
}
div[id^="bwg_container"] .bwg-border-box * { box-sizing: border-box; }
.bwg-container { font-size: 0px; width: 100%; max-width: 100%; display: flex; flex-flow: row wrap; }
.bwg-item { display: flex; flex-direction: column; cursor: pointer; }
.bwg-item0 { overflow: hidden; z-index: 100; }
.bwg-item0:hover { background: transparent none repeat scroll 0px 0px ! important; backface-visibility: hidden; opacity: 1; z-index: 102; position: relative; }
.bwg-item1 { overflow: hidden; width: 100%; position: relative; }
.bwg-item2 { top: 0px; left: 0px; bottom: 0px; right: 0px; width: 100%; height: 100%; }
.bwg-item2 { position: absolute; }
.bwg-ecommerce1, .bwg-title1 { opacity: 1; text-align: center; width: 100%; }
.bwg-title2 { width: 100%; overflow-wrap: break-word; }
.bwg-item0:hover .bwg-ecommerce1, .bwg-item0:hover .bwg-title1 { left: 0px ! important; opacity: 1 ! important; }
.bwg_loading_div_1 { position: absolute; width: 100%; height: 100%; z-index: 115; text-align: center; vertical-align: middle; top: 0px; }
.bwg_loading_div_2 { display: table; vertical-align: middle; width: 100%; height: 100%; background-color: rgb(255, 255, 255); opacity: 0.95; }
.bwg_loading_div_3 { display: table-cell; text-align: center; position: relative; vertical-align: middle; }
.bwg_spider_ajax_loading { border: medium none ! important; display: inline-block; text-align: center; position: relative; vertical-align: middle; background-image: url("ajax_loader.png"); float: none; width: 30px; height: 30px; background-size: 30px 30px; }
.bwg-hidden { visibility: hidden; }
.bwg_container { position: relative; margin: 20px auto; }
.bwg-zoom-effect .bwg-zoom-effect-overlay { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; opacity: 0; transition: all 0.45s ease-in-out 0s; }
.bwg-zoom-effect:hover .bwg-zoom-effect-overlay { opacity: 1; }
.bwg-zoom-effect img { transition: all 0.3s ease 0s; }
.bwg-zoom-effect .bwg-title1 { transition: all 0.3s ease-in-out 0s; }
.bwg_container div[id^="bwg_container2_"] img { height: initial; }
.bwg-background { background-color: transparent; position: relative; width: 100%; }
.bwg_thumbnail.bwg_container { padding: 0px 1px; }
@media (max-width: 480px) {
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; transition: all 200ms ease-out 0s; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0px 0px 20px; max-width: 100%; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -moz-appearance: button; cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
textarea { overflow: auto; }
body, button, input, select, textarea { color: rgb(112, 112, 112); font-family: "Roboto",sans-serif; font-size: 16px; line-height: 24px; }
h1, h2, h3, h4, h5, h6 { clear: both; font-family: "Poppins","Roboto",sans-serif; font-weight: normal; padding: 0px 0px 20px; margin: 0px; color: rgb(70, 76, 81); }
h1 { font-size: 30px; line-height: 34px; padding: 0px 0px 25px; }
h2 { font-size: 26px; line-height: 30px; padding: 0px 0px 25px; }
h3 { font-size: 22px; line-height: 26px; padding: 0px 0px 25px; }
h4 { font-size: 18px; line-height: 22px; }
p { margin: 0px; padding: 0px 0px 20px; }
dfn, cite, em, i { font-style: italic; }
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
ul, ol { margin: 0px 0px 30px; padding: 0px 0px 0px 20px; }
ul { list-style: outside none disc; }
ol { list-style: outside none decimal; }
img { height: auto; max-width: 100%; }
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="date"], input[type="tel"], textarea, select { color: rgb(112, 112, 112); border: 2px solid rgb(70, 76, 81); border-radius: 0px; padding: 8px 10px 9px; outline: medium none; box-sizing: border-box; max-width: 100%; }
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="tel"]:focus, textarea:focus, select:focus { color: rgb(17, 17, 17); }
textarea { width: 100%; resize: vertical; }
a { color: rgb(117, 163, 209); }
a:visited { color: rgb(117, 163, 209); }
a:hover, a:focus, a:active { color: rgb(46, 64, 81); }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0px none; }
.button, button, input[type="submit"], input[type="reset"], input[type="button"] { display: inline-block; padding: 11px 30px 10px; border: 2px solid rgb(117, 163, 209); color: rgb(117, 163, 209); text-decoration: none; box-shadow: none; background: transparent none repeat scroll 0% 0%; font-family: "Poppins","Roboto",sans-serif; font-size: 18px; line-height: 20px; text-transform: uppercase; border-radius: 0px; }
.button:focus, .button:active, button:focus, button:active, input[type="submit"]:focus, input[type="submit"]:active, input[type="reset"]:focus, input[type="reset"]:active, input[type="button"]:focus, input[type="button"]:active { color: rgb(117, 163, 209); }
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover { color: rgb(70, 76, 81); border-color: rgb(70, 76, 81); }
.main-navigation { clear: both; display: block; width: 100%; text-align: right; padding: 0px; }
@media (max-width: 768px) {
  .main-navigation { text-align: center; }
}
.main-navigation ul { display: none; list-style: outside none none; margin: 0px; padding-left: 0px; }
@media (max-width: 600px) {
}
@media (max-width: 600px) {
}
@media (max-width: 600px) {
}
@media (max-width: 600px) {
}
.main-navigation ul.menu, .main-navigation div.menu > ul { text-align: right; font-size: 0px; line-height: 0; }
@media (max-width: 768px) {
  .main-navigation ul.menu, .main-navigation div.menu > ul { text-align: center; }
}
.main-navigation ul.menu > li, .main-navigation div.menu > ul > li { display: inline-block; margin: 0px 0px 0px 20px; }
@media (max-width: 992px) {
  .main-navigation ul.menu > li, .main-navigation div.menu > ul > li { margin: 0px 0px 0px 10px; }
}
@media (max-width: 768px) {
  .main-navigation ul.menu > li, .main-navigation div.menu > ul > li { margin: 0px 5px; }
}
@media (max-width: 600px) {
  .main-navigation ul.menu > li, .main-navigation div.menu > ul > li { display: block; text-align: left; }
}
.main-navigation ul.menu > li:first-child::after, .main-navigation div.menu > ul > li:first-child::after { display: none; }
@media (max-width: 600px) {
  .main-navigation ul.menu > li:first-child::after, .main-navigation div.menu > ul > li:first-child::after { display: block; }
}
.main-navigation ul.menu > li > a, .main-navigation div.menu > ul > li > a { display: block; padding: 0px; color: rgba(255, 255, 255, 0.7); position: relative; text-transform: uppercase; font-size: 15px; line-height: 48px; }
@media (max-width: 992px) {
  .main-navigation ul.menu > li > a, .main-navigation div.menu > ul > li > a { font-size: 13px; }
}
.main-navigation ul.menu > li > a::before, .main-navigation div.menu > ul > li > a::before { left: 50%; right: 50%; content: ""; position: absolute; top: 0px; bottom: 0px; border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(255, 255, 255); transition: all 200ms ease-out 0s; opacity: 0; }
.main-navigation ul.menu > li:hover > a, .main-navigation ul.menu > li.menu-hover > a, .main-navigation ul.menu > li.current_page_item > a, .main-navigation ul.menu > li.current-menu-item > a, .main-navigation ul.menu > li.current_page_ancestor > a, .main-navigation div.menu > ul > li:hover > a, .main-navigation div.menu > ul > li.menu-hover > a, .main-navigation div.menu > ul > li.current_page_item > a, .main-navigation div.menu > ul > li.current-menu-item > a, .main-navigation div.menu > ul > li.current_page_ancestor > a { color: white; }
.main-navigation ul.menu > li:hover > a::before, .main-navigation ul.menu > li.menu-hover > a::before, .main-navigation ul.menu > li.current_page_item > a::before, .main-navigation ul.menu > li.current-menu-item > a::before, .main-navigation ul.menu > li.current_page_ancestor > a::before, .main-navigation div.menu > ul > li:hover > a::before, .main-navigation div.menu > ul > li.menu-hover > a::before, .main-navigation div.menu > ul > li.current_page_item > a::before, .main-navigation div.menu > ul > li.current-menu-item > a::before, .main-navigation div.menu > ul > li.current_page_ancestor > a::before { left: 0px; right: 0px; width: auto; opacity: 1; }
.main-navigation li { position: relative; }
.main-navigation a { display: block; text-decoration: none; font-size: 14px; line-height: 1.4; }
.main-navigation.toggled ul, .main-navigation ul { display: block; }
button.menu-toggle { display: none; background: transparent none repeat scroll 0% 0%; border: medium none; box-shadow: none; text-shadow: none; font-size: 14px; padding: 15px 20px; color: rgb(255, 255, 255); text-align: center; width: 100%; margin: 25px 0px 0px; }
button.menu-toggle::before { content: ""; font-family: FontAwesome; display: inline-block; padding: 0px 10px 0px 0px; }
button.menu-toggle:hover, button.menu-toggle:active, button.menu-toggle:focus { box-shadow: none; background: transparent none repeat scroll 0% 0%; color: rgb(117, 163, 209); outline: medium none; }
@media (max-width: 600px) {
  button.menu-toggle { display: block; }
  .main-navigation ul { display: none; }
}
@media (max-width: 400px) {
}
@media (max-width: 400px) {
}
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute ! important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus { background-color: rgb(241, 241, 241); border-radius: 3px; box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6); clip: auto ! important; color: rgb(33, 117, 155); display: block; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; }
.alignleft { display: inline; float: left; margin-right: 1.5em; }
.alignright { display: inline; float: right; margin-left: 1.5em; }
.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }
.clear::before, .clear::after, .entry-content::before, .entry-content::after, .comment-content::before, .comment-content::after, .site-header::before, .site-header::after, .site-content::before, .site-content::after, .site-footer::before, .site-footer::after { content: ""; display: table; }
.clear::after, .entry-content::after, .comment-content::after, .site-header::after, .site-content::after, .site-footer::after { clear: both; }
.widget-area.footer-widget-area { padding: 40px 0px 20px; background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.widget-area .widget:nth-child(3n+1) { clear: both; }
.widget { margin: 0px; padding: 0px 0px 30px; }
.widget.widget_archive ul, .widget.widget_categories ul, .widget.widget_pages ul, .widget.widget_meta ul, .widget.widget_recent_comments ul, .widget.widget_recent_entries ul, .widget.widget_nav_menu ul { padding: 0px; }
.widget.widget_archive ul li, .widget.widget_categories ul li, .widget.widget_pages ul li, .widget.widget_meta ul li, .widget.widget_recent_comments ul li, .widget.widget_recent_entries ul li, .widget.widget_nav_menu ul li { list-style: outside none none; padding: 0px 0px 5px 20px; position: relative; }
.widget.widget_archive ul li::before, .widget.widget_categories ul li::before, .widget.widget_pages ul li::before, .widget.widget_meta ul li::before, .widget.widget_recent_comments ul li::before, .widget.widget_recent_entries ul li::before, .widget.widget_nav_menu ul li::before { position: absolute; top: 0px; left: 1px; font-family: FontAwesome; font-size: 14px; }
.widget.widget_archive a, .widget.widget_categories a, .widget.widget_pages a, .widget.widget_meta a, .widget.widget_recent_comments a, .widget.widget_recent_entries a, .widget.widget_nav_menu a { text-decoration: none; }
.widget.widget_pages ul li::before { content: ""; }
.page-header-wrap { position: relative; background-size: cover; }
.site-header { padding: 0px 0px 30px; color: rgb(255, 255, 255); position: relative; z-index: 99; }
.showcase-active .site-header { position: absolute; top: 0px; left: 0px; right: 0px; }
.header-meta { padding: 10px 0px; margin: 0px 0px 30px; border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
@media (max-width: 480px) {
  .header-meta { text-align: center; }
}
.site-branding { padding: 0px; }
.site-branding::after { clear: both; content: ""; width: 100%; display: block; }
@media (max-width: 768px) {
  .site-branding { text-align: center; }
}
.site-title { padding: 0px; margin: 0px; font-size: 25px; line-height: 28px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px; word-spacing: -2px; float: left; max-width: 100%; }
@media (max-width: 768px) {
  .site-title { float: none; display: inline-block; }
}
.site-description { margin: 0px; font-size: 12px; line-height: 20px; clear: both; opacity: 0.5; }
.header-showcase { position: relative; overflow: hidden; }
.header-showcase::after { position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; content: ""; }
.header-showcase_img { display: block; }
.header-showcase_content { position: absolute; z-index: 20; bottom: 20%; text-align: center; width: 100%; color: rgb(255, 255, 255); opacity: 0; padding: 25px 0px; transition: opacity 800ms ease-out 0s; }
.header-showcase_content.show-in { opacity: 1; }
.header-showcase_slogan { font-family: "Poppins","Roboto",sans-serif; padding: 0px 0px 30px; }
@media (max-width: 900px) {
  .header-showcase_slogan { padding: 0px 0px 10px; }
}
.header-showcase_title { font-size: 56px; line-height: 58px; padding: 0px 0px 10px; font-weight: bold; }
@media (max-width: 1200px) {
  .header-showcase_title { font-size: 36px; line-height: 38px; }
}
@media (max-width: 900px) {
  .header-showcase_title { font-size: 26px; line-height: 28px; }
}
.header-showcase_text { font-family: "Roboto",sans-serif; font-size: 22px; line-height: 30px; font-weight: 300; padding: 0px; opacity: 0.6; }
@media (max-width: 1200px) {
  .header-showcase_text { font-size: 18px; line-height: 24px; }
}
@media (max-width: 900px) {
  .header-showcase_text { font-size: 14px; line-height: 20px; }
}
.header-showcase_btn { border: 2px solid rgb(255, 255, 255); color: rgb(255, 255, 255); padding: 16px 24px 15px; text-transform: uppercase; font-size: 20px; line-height: 26px; font-family: "Poppins","Roboto",sans-serif; text-decoration: none; letter-spacing: 2px; display: inline-block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; box-shadow: 0px 0px 1px rgba(255, 255, 255, 0); }
@media (max-width: 1200px) {
  .header-showcase_btn { font-size: 16px; line-height: 20px; padding: 12px 20px 11px; }
}
@media (max-width: 900px) {
  .header-showcase_btn { font-size: 14px; line-height: 16px; padding: 9px 15px 8px; }
}
.header-showcase_btn:hover { background: rgba(255, 255, 255, 0.1) none repeat scroll 0% 0%; box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3); }
.header-showcase_btn:hover, .header-showcase_btn:active, .header-showcase_btn:visited { color: rgb(255, 255, 255); }
@media (max-width: 480px) {
}
.site-content > .container { padding-top: 60px; padding-bottom: 40px; }
.entry-header { padding: 0px; }
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
.entry-content, .entry-footer { padding: 0px; }
.hentry { margin: 0px; padding: 0px; }
.page-content, .entry-content, .entry-summary { margin: 0px; padding: 0px 0px 15px; }
.entry-title { padding: 0px 0px 10px; }
@media (max-width: 768px) {
}
@media (max-width: 480px) {
}
@media (max-width: 1109px) {
}
@media (max-width: 480px) {
}
@media (max-width: 600px) {
}
@media (max-width: 480px) {
}
.site-footer { background: rgb(70, 76, 81) none repeat scroll 0% 0%; color: rgb(186, 201, 217); padding: 35px 0px; font-size: 14px; line-height: 20px; }
@media (max-width: 768px) {
  .site-footer { text-align: center; }
}
.site-footer a { color: rgb(255, 255, 255); text-decoration: none; }
.site-footer a:hover { text-decoration: underline; }
.site-info { text-align: right; }
@media (max-width: 768px) {
  .site-info { padding-top: 20px; text-align: center; }
}
a.footer-logo-link { display: inline-block; font-size: 18px; line-height: 24px; padding: 5px 10px 3px; margin: -8px 0px; text-transform: uppercase; font-family: "Poppins","Roboto",sans-serif; text-decoration: none; position: relative; text-align: center; letter-spacing: 1px; }
a.footer-logo-link:hover { text-decoration: none; }
a.footer-logo-link::after, a.footer-logo-link::before { content: ""; position: absolute; left: 0px; right: 0px; height: 8px; }
a.footer-logo-link::before { top: 0px; border-top: 2px solid; border-left: 2px solid; border-right: 2px solid; }
a.footer-logo-link::after { bottom: 0px; border-bottom: 2px solid; border-left: 2px solid; border-right: 2px solid; }
embed, iframe, object { max-width: 100%; }
.wp-caption { margin-bottom: 20px; max-width: 100%; }
.wp-caption::after { clear: both; content: ""; width: 100%; display: block; }
.wp-caption img { display: block; }
.wp-caption img[class*="wp-image-"] { display: block; margin-left: auto; margin-right: auto; float: left; }
.wp-caption .wp-caption-text { background: rgb(232, 240, 247) none repeat scroll 0% 0%; padding: 10px 0px; margin: 0px; font-size: 12px; line-height: 18px; clear: both; }
.wp-caption-text { text-align: center; }
button::-moz-focus-inner { padding: 0px; border: 0px none; }
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
}
@media all and (max-width: 900px) {
}
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
.container { max-width: 1110px; }
@media (max-width: 1109px) {
  .container { max-width: 970px; }
}
@media (max-width: 767px) {
  .container { width: 100%; }
}
.row { margin-right: -15px; margin-left: -15px; }
.row::after, .row::before { clear: both; content: ""; width: 100%; display: block; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
.col-md-9 { width: 75%; }
.col-md-8 { width: 66.6667%; }
.col-md-4 { width: 33.3333%; }
.col-md-3 { width: 25%; }
@media (max-width: 767px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: none; }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: none; width: 100%; }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-12 { width: 100%; }
  .col-sm-7 { width: 58.3333%; }
  .col-sm-5 { width: 41.6667%; }
}
@media (max-width: 479px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: none; }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
  .col-xs-12 { width: 100%; clear: both; }
  .col-xs-7 { width: 58.3333%; }
  .col-xs-5 { width: 41.6667%; }
}
.wpac, .wpac h1, .wpac h2, .wpac h3, .wpac h4, .wpac h5, .wpac h6, .wpac p, .wpac td, .wpac dl, .wpac tr, .wpac dt, .wpac ol, .wpac form, .wpac select, .wpac option, .wpac pre, .wpac div, .wpac table, .wpac th, .wpac tbody, .wpac tfoot, .wpac caption, .wpac thead, .wpac ul, .wpac li, .wpac address, .wpac blockquote, .wpac dd, .wpac fieldset, .wpac li, .wpac strong, .wpac legend, .wpac em, .wpac s, .wpac cite, .wpac span, .wpac input, .wpac sup, .wpac label, .wpac dfn, .wpac object, .wpac big, .wpac q, .wpac font, .wpac samp, .wpac acronym, .wpac small, .wpac img, .wpac strike, .wpac code, .wpac sub, .wpac ins, .wpac textarea, .wpac var, .wpac a, .wpac abbr, .wpac applet, .wpac del, .wpac kbd, .wpac tt, .wpac b, .wpac i, .wpac hr { background-attachment: scroll ! important; background-color: transparent ! important; background-image: none ! important; background-position: 0px 0px ! important; background-repeat: repeat ! important; border-color: currentcolor ! important; border-style: none ! important; border-width: medium ! important; bottom: auto ! important; clear: none ! important; clip: auto ! important; color: inherit ! important; counter-increment: none ! important; counter-reset: none ! important; cursor: auto ! important; direction: inherit ! important; display: inline; float: none ! important; font-family: inherit ! important; font-size: inherit ! important; font-style: inherit ! important; font-variant: normal ! important; font-weight: inherit ! important; height: auto; left: auto ! important; letter-spacing: normal ! important; line-height: inherit ! important; list-style-type: inherit ! important; list-style-position: outside ! important; list-style-image: none ! important; margin: 0px ! important; max-height: none ! important; max-width: none ! important; min-height: 0px ! important; min-width: 0px ! important; opacity: 1; overflow: visible ! important; padding: 0px ! important; position: static ! important; quotes: "" "" ! important; right: auto ! important; table-layout: auto ! important; text-align: inherit ! important; text-decoration: inherit ! important; text-indent: 0px ! important; text-transform: none ! important; top: auto ! important; unicode-bidi: normal ! important; vertical-align: baseline ! important; visibility: inherit ! important; white-space: normal ! important; width: auto ! important; word-spacing: normal ! important; z-index: auto ! important; border-radius: 0px ! important; box-sizing: border-box ! important; text-shadow: none ! important; transition: none 0s ease 0s  ! important; box-shadow: none ! important; }
.wpac, .wpac h3, .wpac h5, .wpac p, .wpac h1, .wpac dl, .wpac dt, .wpac h6, .wpac ol, .wpac form, .wpac select, .wpac option, .wpac pre, .wpac div, .wpac h2, .wpac caption, .wpac h4, .wpac ul, .wpac address, .wpac blockquote, .wpac dd, .wpac fieldset, .wpac textarea, .wpac hr { display: block; }
.wpac a, .wpac a *, .wpac input[type="submit"], .wpac input[type="radio"], .wpac input[type="checkbox"], .wpac select { cursor: pointer ! important; }
.wpac a:hover { text-decoration: none ! important; }
.wpac img { border: 0px none ! important; }
.wpac svg { vertical-align: middle ! important; box-sizing: content-box ! important; }
.wpac { font-size: 14px ! important; line-height: 20px ! important; direction: ltr ! important; text-align: left ! important; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ! important; color: rgb(51, 51, 51) ! important; font-style: normal ! important; font-weight: normal ! important; text-decoration: none ! important; list-style-type: disc ! important; }
@media (max-width: 460px) {
}
.wp-gr .wp-google-rating { color: rgb(231, 113, 27) ! important; font-size: 20px ! important; margin: 0px 6px 0px 0px ! important; vertical-align: middle ! important; }
.wp-gr .wp-google-stars .wp-star { padding: 0px 4px 0px 0px ! important; line-height: 22px ! important; }
.wp-gr .wp-google-powered { color: rgb(119, 119, 119) ! important; margin: 6px 0px 0px ! important; }
.wp-gr .wp-google-review { margin-top: 15px ! important; }
.wp-gr .wp-google-left { display: table-cell ! important; padding-right: 10px ! important; vertical-align: top ! important; }
.wp-gr .wp-google-left img { border: medium none ! important; float: left ! important; height: 50px ! important; width: 50px ! important; margin-right: 5px ! important; border-radius: 50% ! important; }
.wp-gr .wp-google-reviews img { border-radius: 50% ! important; }
.wp-gr .wp-google-right { display: table-cell ! important; vertical-align: top ! important; width: 10000px ! important; }
.wp-gr .wp-google-place .wp-star svg { width: 18px ! important; height: 18px ! important; vertical-align: middle ! important; }
.wp-gr .wp-star svg { display: inline-block ! important; }
.wp-gr .wp-google-review .wp-star svg { width: 16px ! important; height: 16px ! important; vertical-align: middle ! important; }
.wp-gr .wp-google-name { color: black ! important; font-size: 100% ! important; font-weight: bold ! important; margin: 0px 0px 2px ! important; padding-right: 6px ! important; text-decoration: none ! important; }
.wp-gr a.wp-google-name { color: rgb(66, 127, 237) ! important; text-decoration: none ! important; }
.wp-gr .wp-google-time { color: rgb(153, 153, 153) ! important; font-size: 13px ! important; }
.wp-gr .wp-google-text { color: rgb(34, 34, 34) ! important; font-size: 13px ! important; line-height: 18px ! important; max-width: 100% ! important; overflow: hidden ! important; white-space: pre-wrap ! important; }
.wp-gr .wp-google-url { display: block; margin: 10px 0px ! important; color: rgb(44, 124, 255) ! important; text-align: center ! important; }
@media (max-width: 460px) {
}
.wp-gr .wp-google-content-inner { position: relative ! important; min-height: 100% ! important; margin: 0px auto ! important; }
.wp-gr.wpac .wp-google-name { font-size: 100% ! important; }
.wp-gr.wpac .wp-google-name a { color: rgb(51, 51, 51) ! important; font-size: 100% ! important; text-decoration: none ! important; }
.wp-gr.wpac .wp-google-left img { width: 50px ! important; height: 50px ! important; border-radius: 50% ! important; }
.wp-gr.wpac a.wp-google-name { color: rgb(66, 127, 237) ! important; text-decoration: none ! important; }
.wp-gr.wpac .wp-google-place .wp-star svg { width: 18px; height: 18px; }
.wp-gr.wpac .wp-google-review .wp-google-stars { display: inline-block; margin-right: 4px ! important; }
.wp-gr.wpac .wp-google-review .wp-star svg { width: 16px; height: 16px; }
@media (max-width: 480px) {
}
@media (max-width: 480px) {
}
